<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.url == "/" %}<title>{{ site.title }}</title>{% elsif page.title %}<title>{{ page.title }} | {{ site.title }}</title>{% else %}<title>{{ site.title }}</title>{% endif %}

<link rel="stylesheet" href="{{ "/assets/stylesheets/normalize.css" | relative_url }}?{{site.time | date: '%s%N'}}">
<link rel="stylesheet" href="{{ "/assets/stylesheets/style.css" | relative_url }}?{{site.time | date: '%s%N'}}">
<!-- generate here: https://favicon.io/
<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" />
<link rel="shortcut icon" href="/favicon.ico?v=1" />
<link rel="mask-icon" href="/mask-icon.svg" color="#ffffff">
-->
{% feed_meta %}
</head>